<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xue.yynote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xue.yynote.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".activity.NoteEditActivity">
             <intent-filter>
                <action android:name="android.intent.action.View" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.ClockAlertActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.clock">   
        </activity>
        <receiver android:name=".activity.ClockReceiver" android:process=":remote"/>
        <activity android:name=".activity.ShareReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <action android:name="android.intent.action.SEND_MULTIPLE"/>
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="text/plain" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
    </activity>
    </application>

</manifest>